In [1]:
import pandas as pd

all_data = pd.read_csv('merged_data.csv')
all_data.head()

,insurance_id,insurance_member_id,plan_number,firstname,lastname,gender,dob,address,zip,ethnicity,ssn,city,state,disease_id,disease_treats,chemical_name,marketing_name
0,100901,6a84abb7-7026-4342-a666-6090b7fa491e,38526,SANJUANITA,LOPEZ,F,1992-11-16,3 Shopko Trail,48462,White,NaN,ORTONVILLE,MI,3.0,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
1,100902,67f105d9-b60d-4f9a-bf1a-70d122ba3dc9,31,PASTY,WALKER,F,1954-04-05,6 Talisman Parkway,93555,White,NaN,RIDGECREST,CA,NaN,NaN,NaN,NaN
2,100903,9cd57c5e-9c7f-4d89-af67-80aded9d34a4,63,DARIO,PEREZ,M,1930-09-24,5467 Katie Park,76308,Hispanic,NaN,WICHITA FALLS,TX,NaN,NaN,NaN,NaN
3,100904,7bc65ada-ede9-4bbd-80f9-95a25d6f025e,99,ROSALIE,WRIGHT,F,1989-05-04,2 Stuart Drive,92251,White,NaN,IMPERIAL,CA,NaN,NaN,NaN,NaN
4,100905,9825f771-b069-485c-9fd6-50445ca435fd,11,JAIME,ALEXANDER,M,1992-11-06,405 Old Gate Plaza,32826,White,NaN,ORLANDO,FL,1.0,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...

In [2]:
all_data = all_data[['insurance_member_id', 'insurance_id', 'disease_treats', 'chemical_name', 'marketing_name', 'firstname', 'lastname', 'gender', 'address', 'zip', 'ethnicity', 'city', 'state']]

In [10]:
all_data.head()

,insurance_member_id,insurance_id,disease_treats,chemical_name,marketing_name,firstname,lastname,gender,address,zip,ethnicity,city,state
0,************************************,******,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...,****,****,F,****,48***,"{Asian, White}",****,MI
1,************************************,******,,,,****,****,F,****,93***,"{Asian, White}",****,CA
2,************************************,******,,,,****,****,M,****,76***,"{Black, Hispanic}",****,TX
3,************************************,******,,,,****,****,F,****,92***,"{Asian, White}",****,CA
4,************************************,******,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...,****,****,M,****,32***,"{Asian, White}",****,FL

In [4]:
all_data['insurance_member_id'] = all_data.apply(lambda x: '*' * len(x['insurance_member_id']), axis=1)

In [5]:
all_data['insurance_id'] = all_data.apply(lambda x: '*' * len(str(x['insurance_id'])), axis=1)

In [6]:
all_data['firstname'] = all_data.apply(lambda x: '****', axis=1)
all_data['lastname'] = all_data.apply(lambda x: '****', axis=1)
all_data['address'] = all_data.apply(lambda x: '****', axis=1)
all_data['city'] = all_data.apply(lambda x: '****', axis=1)

In [7]:
all_data['zip'] = all_data.apply(lambda x: str(x['zip'])[:2] + '***', axis=1)

In [8]:
def ethnicity(x):
    if 'white' in x['ethnicity'].lower() or 'asian' in x['ethnicity'].lower():
        return "{Asian, White}"
    if 'black' in x['ethnicity'].lower() or 'hispanic' in x['ethnicity'].lower():
        return "{Black, Hispanic}"
    return "{Other}"
all_data['ethnicity'] = all_data.apply(ethnicity, axis=1)

In [9]:
def removeNaN(x):
    if not isinstance(x['disease_treats'], str):
        x['disease_treats'] = " "
    if not isinstance(x['chemical_name'], str):
        x['chemical_name'] = " "
    if not isinstance(x['marketing_name'], str):
        x['marketing_name'] = " "
    return x
all_data = all_data.apply(removeNaN, axis=1)

In [11]:
all_data.to_csv('deindentified.csv', index=False)