In [1]:
import pandas as pd


all_data = pd.read_csv("insurance_company.csv", delimiter=';')

In [2]:
all_data.head()

,insurance_id,insurance_member_id,plan_number,firstname,lastname,gender,dob,address,zip,ethnicity,ssn,city,state
0,100901,6a84abb7-7026-4342-a666-6090b7fa491e,38526,SANJUANITA,LOPEZ,F,1992-11-16,3 Shopko Trail,48462,White,NaN,ORTONVILLE,MI
1,100902,67f105d9-b60d-4f9a-bf1a-70d122ba3dc9,31,PASTY,WALKER,F,1954-04-05,6 Talisman Parkway,93555,White,NaN,RIDGECREST,CA
2,100903,9cd57c5e-9c7f-4d89-af67-80aded9d34a4,63,DARIO,PEREZ,M,1930-09-24,5467 Katie Park,76308,Hispanic,NaN,WICHITA FALLS,TX
3,100904,7bc65ada-ede9-4bbd-80f9-95a25d6f025e,99,ROSALIE,WRIGHT,F,1989-05-04,2 Stuart Drive,92251,White,NaN,IMPERIAL,CA
4,100905,9825f771-b069-485c-9fd6-50445ca435fd,11,JAIME,ALEXANDER,M,1992-11-06,405 Old Gate Plaza,32826,White,NaN,ORLANDO,FL

In [3]:
prescription = pd.read_csv("prescriptions.csv", delimiter=';')
prescription.head()

,perscription_id,disease_treats,chemical_name,marketing_name,perscription_probability
0,2,Heart disease,perindopril,Aceon,0.299882
1,3,Heart disease,ramipril,Altace,0.788093
2,4,Heart disease,catopril,Capoten,0.471860
3,5,Heart disease,benazepril,Lotensin,0.773200
4,6,Heart disease,trandolapril,Mavik,0.778621

In [4]:
insurance_health = pd.read_csv("insurance_health.csv", delimiter=';')
insurance_health.head(20)

    insurance_health_id  insurance_id  disease_id  perscription_id
0               1507743        100901           3               38
1               1507744        100901           3               42
2               1507745        100901           3               43
3               1507746        100901           3               44
4               1507747        100901           3               46
5               1507748        100901           3               48
6               1507749        100905           1                3
7               1507750        100905           1                5
8               1507751        100905           1                6
9               1507752        100905           1                9
10              1507753        100905           1               10
11              1507754        100905           1               11
12              1507755        100905           1               15
13              1507756        100905           1               21
14              1507757        100905           1               24
15              1507758        100905           6               83
16              1507759        100905           6               84
17              1507760        100906           7               85
18              1507761        100906           7               86
19              1507762        100906           7               87

In [5]:
# prescription = prescription.groupby("insurance_id").apply(lambda x: " ".join(x['chemical_name']))
# prescription.head()
# data_all = data1.merge(data2, on = "pid", how = 'left')

merge1 = pd.merge(insurance_health, prescription, how='inner', on='perscription_id')
merge1 = merge1[['insurance_id', 'disease_id', 'disease_treats', 'chemical_name', 'marketing_name']]
def hh(x):
    x['chemical_name'] = " ".join(x['chemical_name'])
    x['marketing_name'] = " ".join(x['marketing_name'])
    return x
merge1 = merge1.groupby('insurance_id').apply(hh)
merge1 = merge1.drop_duplicates(['insurance_id'])
merge1 = merge1.sort_values('insurance_id')
merge1.head(20)

,insurance_id,disease_id,disease_treats,chemical_name,marketing_name
0,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
39404,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
67676,100906,7,Diabetes,Acarbose Albiglutide Alogliptin Alogliptin pio...,Precose Tanzeum Nesina Oseni Invokana Farxiga ...
1,100913,3,COPD,Albuterol Theophylline Tiotropium Ipratropium ...,Vospire Theolair Spiriva Atrovent Tudorza
8604,100915,3,COPD,Budesonide Theophylline Tiotropium Formoterol ...,Pulmicort Theolair Spiriva Floradil Atrovent X...
19228,100917,3,COPD,Tiotropium Formoterol Ipratropium Aclidinium A...,Spiriva Floradil Atrovent Tudorza Brovana
14449,100919,3,COPD,Theophylline Ipratropium Aclidinium Arformoterol,Theolair Atrovent Tudorza Brovana
2,100920,3,COPD,Albuterol Theophylline Tiotropium Formoterol I...,Vospire Theolair Spiriva Floradil Atrovent Nal...
3,100923,3,COPD,Albuterol Tiotropium Formoterol Albiglutide Ca...,Vospire Spiriva Floradil Tanzeum Invokana Novo...
39405,100924,1,Heart disease,ramipril trandolapril lisinopril moexipril Can...,Altace Mavik Zestril Univasc Atacand Zebeta Ca...
4,100925,3,COPD,Albuterol Theophylline Tiotropium Formoterol W...,Vospire Theolair Spiriva Floradil Coumadin Plavix
5,100928,3,COPD,Albuterol Budesonide Tiotropium Arformoterol,Vospire Pulmicort Spiriva Brovana
6,100931,3,COPD,Albuterol Budesonide Formoterol Ipratropium Le...,Vospire Pulmicort Floradil Atrovent Xopenex Br...
39406,100932,1,Heart disease,ramipril benazepril trandolapril moexipril Val...,Altace Lotensin Mavik Univasc Diovan Zebeta Ca...
195007,100933,9,Pneumonia,Cefuroxime Cephalexin Vancomycin,Ceftin Keflex Vancocin
72112,100934,7,Diabetes,Alogliptin Alogliptin pioglitazone Insulin Gla...,Nesina Oseni Lantus Tradjenta Victoza Actos Pr...
7,100937,3,COPD,Albuterol Theophylline Formoterol Ipratropium ...,Vospire Theolair Floradil Atrovent Xopenex
8,100938,3,COPD,Albuterol Formoterol Ipratropium Arformoterol,Vospire Floradil Atrovent Brovana
67970,100943,7,Diabetes,Albiglutide Alogliptin Alogliptin pioglitazone...,Tanzeum Nesina Oseni Invokana Farxiga Lantus H...
9,100945,3,COPD,Albuterol Budesonide Tiotropium Formoterol Ipr...,Vospire Pulmicort Spiriva Floradil Atrovent Xo...

In [20]:
merge1.head(20)

,insurance_id,disease_id,disease_treats,chemical_name,marketing_name
0,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
1,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
2,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
3,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
4,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
5,100901,3,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
6,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
7,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
8,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
9,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
10,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
11,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
12,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
13,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
14,100905,1,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
15,100905,6,Alzheimers,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
16,100905,6,Alzheimers,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...
17,100906,7,Diabetes,Acarbose Albiglutide Alogliptin Alogliptin pio...,Precose Tanzeum Nesina Oseni Invokana Farxiga ...
18,100906,7,Diabetes,Acarbose Albiglutide Alogliptin Alogliptin pio...,Precose Tanzeum Nesina Oseni Invokana Farxiga ...
19,100906,7,Diabetes,Acarbose Albiglutide Alogliptin Alogliptin pio...,Precose Tanzeum Nesina Oseni Invokana Farxiga ...

In [12]:
merge2 = pd.merge(all_data, merge1, how='outer', on='insurance_id')
merge2 = merge2.sort_values('insurance_id')
merge2.head()

,insurance_id,insurance_member_id,plan_number,firstname,lastname,gender,dob,address,zip,ethnicity,ssn,city,state,disease_id,disease_treats,chemical_name,marketing_name
0,100901,6a84abb7-7026-4342-a666-6090b7fa491e,38526,SANJUANITA,LOPEZ,F,1992-11-16,3 Shopko Trail,48462,White,NaN,ORTONVILLE,MI,3.0,COPD,Albuterol Budesonide Theophylline Tiotropium F...,Vospire Pulmicort Theolair Spiriva Floradil Ar...
1,100902,67f105d9-b60d-4f9a-bf1a-70d122ba3dc9,31,PASTY,WALKER,F,1954-04-05,6 Talisman Parkway,93555,White,NaN,RIDGECREST,CA,NaN,NaN,NaN,NaN
2,100903,9cd57c5e-9c7f-4d89-af67-80aded9d34a4,63,DARIO,PEREZ,M,1930-09-24,5467 Katie Park,76308,Hispanic,NaN,WICHITA FALLS,TX,NaN,NaN,NaN,NaN
3,100904,7bc65ada-ede9-4bbd-80f9-95a25d6f025e,99,ROSALIE,WRIGHT,F,1989-05-04,2 Stuart Drive,92251,White,NaN,IMPERIAL,CA,NaN,NaN,NaN,NaN
4,100905,9825f771-b069-485c-9fd6-50445ca435fd,11,JAIME,ALEXANDER,M,1992-11-06,405 Old Gate Plaza,32826,White,NaN,ORLANDO,FL,1.0,Heart disease,ramipril benazepril trandolapril lisinopril mo...,Altace Lotensin Mavik Zestril Univasc Vasotec ...

In [14]:
merge2.fillna(' ')
merge2.to_csv('merged_data.csv', index=False)

In [11]:
all_data.head()

,insurance_id,insurance_member_id,plan_number,firstname,lastname,gender,dob,address,zip,ethnicity,ssn,city,state
0,100901,6a84abb7-7026-4342-a666-6090b7fa491e,38526,SANJUANITA,LOPEZ,F,1992-11-16,3 Shopko Trail,48462,White,NaN,ORTONVILLE,MI
1,100902,67f105d9-b60d-4f9a-bf1a-70d122ba3dc9,31,PASTY,WALKER,F,1954-04-05,6 Talisman Parkway,93555,White,NaN,RIDGECREST,CA
2,100903,9cd57c5e-9c7f-4d89-af67-80aded9d34a4,63,DARIO,PEREZ,M,1930-09-24,5467 Katie Park,76308,Hispanic,NaN,WICHITA FALLS,TX
3,100904,7bc65ada-ede9-4bbd-80f9-95a25d6f025e,99,ROSALIE,WRIGHT,F,1989-05-04,2 Stuart Drive,92251,White,NaN,IMPERIAL,CA
4,100905,9825f771-b069-485c-9fd6-50445ca435fd,11,JAIME,ALEXANDER,M,1992-11-06,405 Old Gate Plaza,32826,White,NaN,ORLANDO,FL